<app-car [car]="car" (saveEmitter)="saveCar()"></app-car>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Montadora</th>
                <th>Preço</th>
                <th>Ano</th>
                <th class="text-end">Opções</th>
            </tr>
        </thead>

        <tbody>
            <tr class="align-middle" *ngFor="let car of cars">
                <td>{{car.id}}</td>
                <td>{{car.name}}</td>
                <td>{{car.manufacturer}}</td>
                <td>{{car.price}}</td>
                <td>{{car.year}}</td>
                <td class="text-end">
                    <button class="btn btn-success me-1" (click)="updateCar(car)">Alterar</button>
                    <button class="btn btn-danger" (click)="removeCar(car)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
